*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  background: url(../img/bg-main-desktop.png),
    url(../img/bg-pattern-1.svg) right top -5rem no-repeat;
}

.page-width {
  max-width: 150rem;
  margin: 0 auto;
}

.header {
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.main-heading {
  font-size: 10rem;
  width: 80%;
  font-weight: 700;
  margin-bottom: 3rem;
}

.main-text {
  font-size: 2.3rem;
  width: 63%;
}

.main-section {
  position: relative;
}

.main-container {
  padding: 6rem;
  position: relative;
  display: flex;
  margin-bottom: 10rem;
  margin-top: 40rem;
  height: 61rem;
  justify-content: space-between;
  background: url(../img/bg-pattern-2.svg);
  background-position: 45% -35%;
  background-repeat: no-repeat;
  background-color: #191826;
  border-radius: 1rem;
}

.mobile-img {
  width: 35rem;
  position: absolute;
  height: 69rem;
  top: -26rem;
  left: 14%;
  z-index: 10;
}

.info-box {
  background-color: #fa7453;
  color: #fff;
  position: absolute;
  width: 45rem;
  height: 60rem;
  padding: 5rem;
  right: 14%;
  top: 10rem;
  border-radius: 1rem;
  z-index: 20;
}

.info-box h3 {
  font-size: 4rem;
}

.info-box p {
  font-size: 2.1rem;
  opacity: 0.8;
}

.info-box h3,
.info-box p,
.price-box {
  margin-bottom: 2rem;
}

.month {
  margin-bottom: 0 !important;
}

.price-box {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.price {
  font-size: 6rem;
}

.ios-btn {
  background-color: #191826;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 2rem;
  font-size: 1.8rem;
  text-align: center;
  display: block;
  border-radius: 1.2rem;
  transition: all 0.2s;
  font-weight: 700;
  margin-bottom: 1rem;
}

.ios-btn:hover,
.ios-btn:active {
  background-color: #66e2dc;
  color: #fff;
  text-decoration: none;
  scale: 1.03;
}

.android-btn {
  background-color: #fff;
  width: 100%;
  text-decoration: none;
  color: #000;
  padding: 2rem;
  font-size: 1.8rem;
  text-align: center;
  display: block;
  border-radius: 1.2rem;
  transition: all 0.2s;
  font-weight: 700;
}

.android-btn:hover,
.android-btn:active {
  background-color: #ffb964;
  color: #000;
  text-decoration: none;
  scale: 1.03;
}

.ios-img,
.android-img {
  margin-right: 1rem;
}

footer {
  display: flex;
  /* justify-content: space-between; */
  padding: 5rem;
}

.social-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-logo {
  height: 4rem;
  margin-right: 13%;
}

.footer-text {
  font-size: 1.5rem;
  margin-right: 43%;
}

.footer-mail {
  color: #000;
  font-weight: 700;
}

.footer-mail:hover,
.footer-mail:active {
  color: #000;
}
