*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  background: url(../img/bg-main-desktop.png),
    url(../img/bg-pattern-1.svg) right top -5rem no-repeat;
}

.page-width {
  max-width: 150rem;
  margin: 0 auto;
}

.header {
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.main-heading {
  font-size: 10rem;
  width: 80%;
  font-weight: 700;
  margin-bottom: 3rem;
}

.main-text {
  font-size: 2.5rem;
  width: 68%;
}
